body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 75px 250px;
}

.intro {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

address {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-style: normal;
}

.email {
    color: #0000EE;
}

/* typography */
h1 {
    font-size: 2.0rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

.para p {
    margin: 0px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 0px;
}

.contact p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 0px;

}

.contact p a {
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 0px;

}

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background-color: #0000FF;
    color: white;
}

hr {
    margin-top: 30px;
}

footer p {
    font-size: .9rem;
}

/* image */
.headshot {
    width: auto;
    height: 180px;
}

/* responsiveness */
@media (max-width: 900px) {
    body {
        margin: 30px 30px;
    }

    .intro {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .headshot {
        align-self: flex-start;
    }
}
